{% extends 'base.html' %}

{% block content %}
<div class="mb-4">
    <div class="tooltip tooltip-right" data-tip="To templates list">
        <a class="btn btn-square" role="button"
          href="{{ url_for('templates.index') }}">
            {% include 'heroicons/arrow-uturn-left.svg' %}
        </a>
    </div>
    <div class="tooltip tooltip-right" data-tip="Save">
        <button class="btn btn-square" form="templateForm" type="submit">
            {% include 'heroicons/check.svg' %}
        </button>
    </div>
</div>

<form action="{{ url_for('templates.store') }}" class="grid gap-y-2"
  id="templateForm" method="post">
    <input required class="input input-bordered" placeholder="Template name"
      type="text">
    <textarea required class="resize-none textarea textarea-bordered"
      placeholder="Contents (SVG XML)" rows="10"></textarea>
</form>
{% endblock content %}
