{% extends 'base/master.html' %}

{% block content %}
<div class="mb-4">
    <div class="tooltip tooltip-right" data-tip="To certificate type">
        <a class="btn btn-square" role="button"
          href="{{ url_for('certificate_types.show', id=template.certificate_type_id) }}">
            {% include 'heroicons/arrow-uturn-left.svg' %}
        </a>
    </div>
    <div class="tooltip tooltip-right" data-tip="Download">
        <button class="btn btn-square"
          :disabled="pageData.isDownloadingTemplate"
          @click="downloadTemplateContent">
            {% include 'heroicons/arrow-down-tray.svg' %}
        </button>
    </div>
    <div class="tooltip tooltip-right" data-tip="Edit">
        <a class="btn btn-square" role="button"
          href="{{ url_for('templates.edit', id=template.id) }}">
            {% include 'heroicons/pencil-square.svg' %}
        </a>
    </div>
    <div class="tooltip tooltip-right" data-tip="Delete">
        <button class="btn btn-square" @click="confirmDeleteModal.showModal()">
            {% include 'heroicons/trash.svg' %}
        </button>
    </div>
</div>

<div class="card card-bordered shadow-lg sm:card-side"
  style="max-height: calc(100vh - 160px)">
    <figure class="bg-base-300 *:h-full">
        {{ template.content|safe }}
    </figure>
    <div class="card-body">
        <p class="card-title">{{ template.name }}</p>
    </div>
</div>

{% with %}
    {% set nounSingular = 'template' %}
    {% set deleteUrl = url_for('templates.delete', id=template.id) %}
    {% include 'base/modals/confirm-delete.html' %}
{% endwith %}

{% endblock content %}

{% block scripts %}
<script type="text/javascript">
let pageData = Alpine.reactive({
    isDownloadingTemplate: false,
})

let downloadTemplateContent = (event) => {
    let key = toastMaster.pushItem({
        loading: true,
        message: 'Downloading template&hellip;',
    })

    pageData.isDownloadingTemplate = true
    fetch("{{ url_for('api.templates.show', id=template.id)}}")
    .then(r => r.json())
    .then(data => {
        pageData.isDownloadingTemplate = false
        toastMaster.removeItem(key)
        saveAs(
            new Blob([data.content], { type: 'image/svg+xml' }),
            '{{ template.name }}.svg',
        )
    })
}
</script>
{% endblock scripts %}