{% extends 'base/master.html' %}

{% block content %}
<div class="mb-4">
    <div class="tooltip tooltip-right" data-tip="Create a {{ nounSingular }}">
        <a class="btn btn-square" role="button" href="{{ createUrl }}">
            {% include 'heroicons/plus.svg' %}
        </a>
    </div>
    <div class="tooltip tooltip-right" data-tip="Reload page">
        <a class="btn btn-square" role="button"
          href="{{ url_for(indexUrlString) }}">
            {% include 'heroicons/arrow-path.svg' %}
        </a>
    </div>
</div>

<form action="{{ url_for(indexUrlString) }}"
  class="flex gap-x-1 items-center mb-4">
    <input class="input input-bordered w-full" name="q"
      placeholder="Search {{ nounSingular }} names here." type="text"
      value="{{ request.args.get('q', '')}}">
    <button class="btn btn-square" type="submit">
        {% include 'heroicons/magnifying-glass.svg' %}
    </button>
</form>

{% if table_count == 0 %}
<div class="alert" role="alert">
    There are no {{ nounPlural }} yet.
</div>
{% else %}
<div class="flex justify-center mb-2">
    <div class="join">
        <a class="btn join-item" role="button"
          {% if collection.prev_num %}
          href="{{ url_for(indexUrlString, page=collection.prev_num, per_page=request.args.get('per_page'), q=request.args.get('q', ''))}}"
          {% else %}disabled{% endif %}>
            {% include 'heroicons/chevron-double-left.svg' %}
        </a>
        {% for p in collection.iter_pages() if p %}
        <a class="btn join-item" role="button"
          {% if collection.page != p %}
          href="{{ url_for(indexUrlString, page=p, per_page=request.args.get('per_page'), q=request.args.get('q', ''))}}"
          {% else %}disabled{% endif %}>{{ p }}</a>
        {% endfor %}
        <a class="btn join-item" role="button"
          {% if collection.next_num %}
          href="{{ url_for(indexUrlString, page=collection.next_num, per_page=request.args.get('per_page'), q=request.args.get('q', ''))}}"
          {% else %}disabled{% endif %}>
            {% include 'heroicons/chevron-double-right.svg' %}
        </a>
    </div>
</div>

<div class="bg-base-300 mb-4 overflow-y-auto rounded-box"
  style="height: calc(100vh - 280px)">
<ul class="bg-base-300 menu rounded-box">
    {% for item in collection.items %}
    <li>
        <a href="{{ url_for(showUrlString, id=item.id) }}">
            {{ item.name }}
        </a>
    </li>
    {% endfor %}
</ul>
</div>
{% endif %}
{% endblock content %}

{% block scripts %}

{% if 'store-success' in messages %}
<script type="text/javascript">
toastMaster.pushItem({
    alertType: 'success',
    content: 'The {{ nounSingular }} was successfully created.',
})
</script>
{% endif %}

{% if 'delete-success' in messages %}
<script type="text/javascript">
toastMaster.pushItem({
    alertType: 'success',
    content: 'The {{ nounSingular }} was successfully deleted.',
})
</script>
{% endif %}

{% if 'delete-failed' in messages %}
<script type="text/javascript">
toastMaster.pushItem({
    alertType: 'error',
    content: 'The {{ nounSingular }} could not be deleted. Other entities might still be using it.',
})
</script>
{% endif %}

{% endblock scripts %}