<!doctype html>
<html>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.css" integrity="sha256-5eovWPVeH0bcnaU+luGdg0Cy538ompDazfnYUYHQnc4=" crossorigin="anonymous">

<title>{{ title }} &mdash; e-Certify proof-of-concept</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block head %}{% endblock %}

<body>

<script src="https://cdn.tailwindcss.com/3.4.3"></script>
<script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.js" integrity="sha256-YGDBOYCK1omubwVepl646qkDFPzO2nKvcno2mn5p8mM=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.js" integrity="sha256-Pcrz/j4XiFjc1wOFIWrR+E99s61o0OL6Mp2JUVxTafA=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.10/dist/cdn.js" integrity="sha256-qyF4uwB94LHZcK4n0ueDnAAdtymGsA6yY584NmfE3Lk=" crossorigin="anonymous"></script>

<script type="text/javascript">
let toastMaster = {
    items: Alpine.reactive([]),
    alertClass(item)
    {
        var classes = ['alert']
        var alertTypes = ['info', 'success', 'warning', 'error']

        if (alertTypes.indexOf(item.body.alertType) > -1)
        {
            classes.push('alert-'+item.body.alertType)
        }

        return classes.join(' ')
    },
    pushItem(body)
    {
        let key = Math.random().toString(16)
        this.items.push({ key, body })
        return key
    },
    removeItem(key)
    {
        let index = this.items.findIndex(i => i.key == key)
        this.items.splice(index, 1)
    },
}
</script>

{% block scripts %}{% endblock %}

<div class="navbar bg-primary mb-4">
<div class="flex-1">
    <a class="btn btn-ghost text-lg" href="{{ url_for('index') }}">ecPOC</a>
</div>
<div class="flex-none">
<div class="dropdown dropdown-end">
    <div class="btn btn-ghost" role="button" tabindex="0">
        Theme {% include 'heroicons/chevron-down.svg' %}
    </div>
    <ul class="bg-base-200 dropdown-content menu rounded-box z-[1]"
      tabindex="0">
        <li>
            <input aria-label="Default" class="btn btn-ghost theme-controller"
              name="theme-dropdown" type="radio" value="default">
        </li>
        <li>
            <input aria-label="Light" class="btn btn-ghost theme-controller"
              name="theme-dropdown" type="radio" value="light">
        </li>
        <li>
            <input aria-label="Dark" class="btn btn-ghost theme-controller"
              name="theme-dropdown" type="radio" value="dark">
        </li>
        <li>
            <input aria-label="Retro" class="btn btn-ghost theme-controller"
              name="theme-dropdown" type="radio" value="retro">
        </li>
        <li>
            <input aria-label="Valentine" class="btn btn-ghost theme-controller"
              name="theme-dropdown" type="radio" value="valentine">
        </li>
    </ul>
</div>
</div>
</div>

<div class="mx-auto px-4">
    {% block content %}{% endblock %}
</div>

<div class="toast toast-top">
<template x-for="item in toastMaster.items">
    <div :class="toastMaster.alertClass(item)">
        <template x-if="item.body.loading">
            <span class="loading loading-spinner"></span>
        </template>
        <div x-html="item.body.message"></div>
    </div>
</template>
</div>

</body>

</html>
