{% extends 'base.html' %}

{% block content %}
<div class="mb-4">
    <div class="tooltip tooltip-right" data-tip="Create a certificate type">
        <a class="btn btn-square" role="button"
          href="{{ url_for('certificate_types.create') }}">
            {% include 'heroicons/plus.svg' %}
        </a>
    </div>
    <div class="tooltip tooltip-right" data-tip="Reload page">
        <button class="btn btn-square" @click="location.reload()">
            {% include 'heroicons/arrow-path.svg' %}
        </button>
    </div>
</div>

{% if collection.items|length == 0 %}
<div class="alert" role="alert">
    There are no certificate types yet.
</div>
{% else %}
<form action="{{ url_for('certificate_types.index') }}"
  class="flex gap-x-1 items-center mb-4">
    <input class="input input-bordered w-full" name="q"
      placeholder="Search certificate type names here." type="text">
    <button class="btn btn-square" type="submit">
        {% include 'heroicons/magnifying-glass.svg' %}
    </button>
</form>

<div class="flex justify-center mb-2">
    <div class="join">
        <a class="btn join-item" role="button"
          {% if collection.prev_num %}
          href="{{ url_for('certificate_types.index', page=collection.prev_num)}}"
          {% else %}disabled{% endif %}>
            {% include 'heroicons/chevron-double-left.svg' %}
        </a>
        {% for p in collection.iter_pages() %}
        <a class="btn join-item" role="button"
          {% if collection.page != p %}
          href="{{ url_for('certificate_types.index', page=p)}}"
          {% else %}disabled{% endif %}>{{ p }}</a>
        {% endfor %}
        <a class="btn join-item" role="button"
          {% if collection.next_num %}
          href="{{ url_for('certificate_types.index', page=collection.next_num)}}"
          {% else %}disabled{% endif %}>
            {% include 'heroicons/chevron-double-right.svg' %}
        </a>
    </div>
</div>

<div class="bg-base-300 mb-4 overflow-y-auto rounded-box"
  style="height: calc(100vh - 280px)">
<ul class="bg-base-300 menu rounded-box">
    {% for item in collection.items %}
    <li>
        <a href="{{ url_for('certificate_types.show', id=item.id) }}">
            {{ item.name }}
        </a>
    </li>
    {% endfor %}
</ul>
</div>
{% endif %}
{% endblock content %}