{% extends 'base/master.html' %}

{% block content %}
<div class="mb-4">
    <div class="tooltip tooltip-right" data-tip="To certificates list">
        <a class="btn btn-square" role="button"
          href="{{ url_for('certificates.index') }}">
            {% include 'heroicons/arrow-uturn-left.svg' %}
        </a>
    </div>
    <div class="tooltip tooltip-right" data-tip="Save">
        <button class="btn btn-square" form="certificateForm" type="submit">
            {% include 'heroicons/check.svg' %}
        </button>
    </div>
</div>

<form action="{{ url_for('certificates.store') }}" id="certificateForm"
  method="post">
<div class="tabs tabs-lifted" role="tablist">
<input checked aria-label="Step 1" class="tab" name="certificateFormTabs"
  role="tab" type="radio">
<div class="border-base-300 overflow-y-auto p-4 rounded-box tab-content"
  role="tabpanel" style="height: calc(100vh - 192px)">
<div class="gap-y-4 grid">
    <p class="font-bold">Basic information</p>
    <label class="gap-y-1 grid">
        <span>Name of certificate</span>
        <input required class="input input-bordered w-full"
          name="name" placeholder="Name of certificate" type="text">
    </label>
    <label class="gap-y-1 grid">
        <span>Issuance date</span>
        <input required class="input input-bordered w-full"
          name="issuance_date" placeholder="Issuance date" type="date">
    </label>
    <label class="gap-y-1 grid">
        <span>Issuance locale</span>
        <input required class="input input-bordered w-full"
          name="issuance_locale" placeholder="Issuance locale" type="text">
    </label>
</div>
</div>

<input aria-label="Step 2" class="tab" name="certificateFormTabs"
  role="tab" type="radio">
<div class="border-base-300 overflow-y-auto p-4 rounded-box tab-content"
  role="tabpanel" style="height: calc(100vh - 192px)">
<div class="gap-y-4 grid">
    <p class="font-bold">Template selection</p>
    <label class="gap-y-1 grid">
        <span>Template name</span>
        <select required class="select select-bordered w-full" name="template">
        <option disabled selected>Select a template to use.</option>
        {% for ct in certificate_types if ct.templates|length > 0 %}
        <optgroup label="{{ ct.name }}">
            {% for t in ct.templates %}
            <option value="{{ t.id }}">{{ t.name }}</option>
            {% endfor %}
        </optgroup>
        {% endfor %}
        </select>
    </label>
</div>
</div>

<input aria-label="Step 3" class="tab" name="certificateFormTabs"
  role="tab" type="radio">
<div class="border-base-300 overflow-y-auto p-4 rounded-box tab-content"
  role="tabpanel" style="height: calc(100vh - 192px)">
<div class="gap-y-4 grid">
    <p class="font-bold">Other fields</p>
</div>
</div>
</div>
</form>

{% endblock content %}