{% extends 'base/master.html' %}

{% block content %}
<div class="mb-4">
    <div class="tooltip tooltip-right" data-tip="To certificate">
        <a class="btn btn-square" role="button"
          href="{{ url_for('certificates.show', id=certificate.id) }}">
            {% include 'heroicons/arrow-uturn-left.svg' %}
        </a>
    </div>
    <div class="tooltip tooltip-right" data-tip="Save">
        <button class="btn btn-square" form="csvForm" type="submit">
            {% include 'heroicons/check.svg' %}
        </button>
    </div>
</div>

<div class="alert alert-warning mb-2" role="alert">
    In case both fields are filled out, the file upload will be chosen.
</div>

<div class="bg-base-100 card shadow-lg">
<div class="card-body">
<form action="{{ url_for('certificates.recipients_csv_store', id=certificate.id) }}"
  class="flex flex-col space-y-2" enctype="multipart/form-data" id="csvForm"
  method="post" @submit="checkIfFormIsEmpty">
    <label class="form-control w-full">
        <div class="label">
            <span class="label-text">Upload a CSV file</span>
        </div>
        <input class="file-input file-input-bordered file-input-ghost w-full"
          accept="text/csv" name="file" type="file">
    </label>
    <div class="divider text-gray-500">or</div>
    <label class="form-control w-full">
        <div class="label">
            <span class="label-text">Input CSV text</span>
        </div>
        <textarea class="resize-none textarea textarea-bordered"
          name="text" placeholder="CSV text" rows="3"></textarea>
    </label>
</form>
</div>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
function checkIfFormIsEmpty(event)
{
    let fileInput = document.querySelector('[name="file"]')
    let textInput = document.querySelector('[name="text"]')

    if (! fileInput.value && ! textInput.value)
    {
        event.returnValue = false
        toastMaster.pushItem({
            alertType: 'error',
            message: 'Neither one of the two fields has a value.',
        })
    }
}
</script>
{% endblock scripts %}