{% extends 'base/master.html' %}

{% block content %}
<div class="mb-4">
    <div class="tooltip tooltip-right" data-tip="To certificates list">
        <a class="btn btn-square" role="button"
          href="{{ url_for('certificates.index') }}">
            {% include 'heroicons/arrow-uturn-left.svg' %}
        </a>
    </div>

    <div class="tooltip tooltip-right" data-tip="Recipient options">
    <div class="dropdown dropdown-hover">
    <div class="btn" role="button" tabindex="0">
        {% include 'heroicons/users.svg' %}
        {% include 'heroicons/chevron-down.svg' %}
    </div>
    <ul class="bg-base-100 dropdown-content menu rounded-box shadow w-64 z-[1]"
      tabindex="0">
    <li>
        <a href="{{ url_for('recipients.create', certificate_id=certificate.id)}}">
            Add a recipient
        </a>
    </li>
    <li>
        <a href="{{ url_for('certificates.recipients_csv_upload', id=certificate.id) }}">
            Add recipients via CSV
        </a>
    </li>
    <li>
        <a>Manage recipients as one batch</a>
    </li>
    <li>
        <a @click="createZip">Download recipient copies as ZIP</a>
    </li>
    </ul>
    </div>
    </div>

    <div class="tooltip tooltip-right" data-tip="Edit">
        <a class="btn btn-square" role="button"
          href="{{ url_for('certificates.edit', id=certificate.id) }}">
            {% include 'heroicons/pencil-square.svg' %}
        </a>
    </div>

    <div class="tooltip tooltip-right" data-tip="Delete">
        <button class="btn btn-square" @click="confirmDeleteModal.showModal()">
            {% include 'heroicons/trash.svg' %}
        </button>
    </div>
</div>

<div class="card card-compact mb-4 overflow-y-auto shadow-lg"
  style="height: calc((100vh - 296px) / 2)">
<div class="card-body">
    <h2 class="card-title">{{ certificate.name }}</h2>

    <p>
        Issued on <span class="underline"
          x-text="dbToHumanFriendlyDate('{{ certificate.issuance_date }}')">
        </span> at
        <span class="underline">{{ certificate.issuance_locale }}</span>.
    </p>
    
    <p>
    {% for field in certificate.fields %}
        <strong>{{ field.certificate_type_field.description }}</strong>
        {% if field.certificate_type_field.value_type.value == 'date' %}
        <span x-text="dbToHumanFriendlyDate('{{ field.value }}')"></span>
        {% elif field.certificate_type_field.value_type.value == 'text' %}
        {% if field.value %}{{ field.value }}{% else %}<em>None</em>{% endif %}
        {% endif %}
        <br>
    {% endfor %}
    </p>
    
    <p>
        This certificate has {{ certificate.recipients|length }} recipient(s).
    </p>
</div>
</div>

{% with %}
    {% set indexUrl = url_for('certificates.show', id=certificate.id) %}
    {% set nounPlural = 'recipients' %}
    {% include 'base/chunks/search.html' %}
{% endwith %}

<div class="flex justify-center mb-2">
    <div class="join">
        <a class="btn join-item" role="button"
          {% if collection.prev_num %}
          href="{{ url_for('certificates.show', id=certificate.id, page=collection.prev_num, per_page=request.args.get('per_page'), q=request.args.get('q', ''))}}"
          {% else %}disabled{% endif %}>
            {% include 'heroicons/chevron-double-left.svg' %}
        </a>
        {% for p in collection.iter_pages() if p %}
        <a class="btn join-item" role="button"
          {% if collection.page != p %}
          href="{{ url_for('certificates.show', id=certificate.id, page=p, per_page=request.args.get('per_page'), q=request.args.get('q', ''))}}"
          {% else %}disabled{% endif %}>{{ p }}</a>
        {% endfor %}
        <a class="btn join-item" role="button"
          {% if collection.next_num %}
          href="{{ url_for('certificates.show', id=certificate.id, page=collection.next_num, per_page=request.args.get('per_page'), q=request.args.get('q', ''))}}"
          {% else %}disabled{% endif %}>
            {% include 'heroicons/chevron-double-right.svg' %}
        </a>
    </div>
</div>

<div class="bg-base-300 mb-4 overflow-y-auto rounded-box"
  style="height: calc((100vh - 296px) / 2)">
<ul class="bg-base-300 menu rounded-box">
    {% for recipient in collection %}
    <li>
        <a href="{{ url_for('recipients.show', token=recipient.token) }}">
            {{ recipient.last_name }}, {{ recipient.first_name }}
            {% if recipient.middle_name %}
            {{ recipient.middle_name }}
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
</div>

{% with %}
    {% set nounSingular = 'certificate' %}
    {% set deleteUrl = url_for('certificates.delete', id=certificate.id) %}
    {% include 'base/modals/confirm-delete.html' %}
{% endwith %}

{% endblock content %}

{% block scripts %}
<script type="text/javascript">
let dbToHumanFriendlyDate = (dbDate) => {
    return luxon.DateTime.fromISO(dbDate).toLocaleString(
        luxon.DateTime.DATE_FULL
    )
}

let createZip = (event) => {
    let zipFilename

    let key = toastMaster.pushItem({
        loading: true,
        message: 'Downloading recipient copies and compiling them into a ZIP file&hellip;',
    })

    fetch("{{ url_for('api.certificates.show', id=certificate.id) }}")
    .then(r => r.json())
    .then(async data => {
        zipFilename = data.name

        let certZip = new JSZip()
        for (t in data.recipients)
        {
            let r = data.recipients[t]
            await fetch("{{ url_for('index') }}recipients/"+r.token+"/pdf")
            .then(r => r.blob())
            .then(blob => { certZip = certZip.file(r.token+'.pdf', blob) })
        }

        return certZip.generateAsync({ type: 'blob' })
    })
    .then(content => {
        saveAs(content, zipFilename+'.zip')
        toastMaster.removeItem(key)
    })
}
</script>
{% endblock scripts %}