<!doctype html>
<html>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.css" integrity="sha256-JZwQEIZn0qcwBlwAXZ/v0IqFm8tF19aRWGiuOti1eds=" crossorigin="anonymous">

<title>{{ title }} &mdash; e-Certify proof-of-concept</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>

<div class="navbar bg-lime-300 mb-4">
    <a class="btn btn-ghost text-lg">ecPOC</a>
</div>

<div class="mx-auto px-4">
    {% block content %}{% endblock %}
</div>

<script src="https://cdn.tailwindcss.com/3.4.3"></script>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.10/dist/cdn.js" integrity="sha256-qyF4uwB94LHZcK4n0ueDnAAdtymGsA6yY584NmfE3Lk=" crossorigin="anonymous"></script>

</body>

</html>
