<!doctype html>
<html>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.css" integrity="sha256-JZwQEIZn0qcwBlwAXZ/v0IqFm8tF19aRWGiuOti1eds=" crossorigin="anonymous">

<title>{{ title }} &mdash; e-Certify proof-of-concept</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>

<script src="https://cdn.tailwindcss.com/3.4.3"></script>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.10/dist/cdn.js" integrity="sha256-qyF4uwB94LHZcK4n0ueDnAAdtymGsA6yY584NmfE3Lk=" crossorigin="anonymous"></script>

{% block scripts %}{% endblock %}

<div class="navbar bg-lime-300 mb-4">
<div class="flex-1">
    <a class="btn btn-ghost text-lg">ecPOC</a>
</div>
<div class="flex-none">
<div class="dropdown dropdown-end">
    <div class="btn btn-ghost" role="button" tabindex="0">
        Theme
    </div>
    <ul class="bg-lime-100 dropdown-content menu rounded-box z-[1]"
      tabindex="0">
        <li>
            <input aria-label="Default" class="btn btn-ghost theme-controller"
              name="theme-dropdown" type="radio" value="default">
        </li>
        <li>
            <input aria-label="Light" class="btn btn-ghost theme-controller"
              name="theme-dropdown" type="radio" value="light">
        </li>
        <li>
            <input aria-label="Dark" class="btn btn-ghost theme-controller"
              name="theme-dropdown" type="radio" value="dark">
        </li>
        <li>
            <input aria-label="Retro" class="btn btn-ghost theme-controller"
              name="theme-dropdown" type="radio" value="retro">
        </li>
        <li>
            <input aria-label="Valentine" class="btn btn-ghost theme-controller"
              name="theme-dropdown" type="radio" value="valentine">
        </li>
    </ul>
</div>
</div>
</div>

<div class="mx-auto px-4">
    {% block content %}{% endblock %}
</div>

</body>

</html>
